# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore build output and documentation folders
dist/
docs/

# Ignore sprite images from Sprite Github
public/img/generation-i/
public/img/generation-ii/
public/img/generation-iii/
public/img/generation-iv/
public/img/generation-v/
public/img/generation-vi/
public/img/generation-vii/
public/img/generation-viii/